In [11]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
train_df = pd.read_csv("train_df.csv")
test_df = pd.read_csv("test_df.csv")

In [13]:
train_df.head()

,user_id,item_id,rating,timestamp,movie_id,movie_title,release_date,imdb_url,Action,Adventure,...,zip_code,like_dislike,age_group,rating_date,rating_month,rating_day,release_year,release_month,release_day,movie_age
0,1,1,5,874965758,1,Toy Story (1995),1995-01-01,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,...,85711,Like,18-25,1997-09-22 22:02:38,9,Monday,1995.0,1.0,Sunday,995.0
1,1,2,3,876893171,2,GoldenEye (1995),1995-01-01,http://us.imdb.com/M/title-exact?GoldenEye%20(...,1,1,...,85711,Dislike,18-25,1997-10-15 05:26:11,10,Wednesday,1995.0,1.0,Sunday,1018.0
2,1,3,4,878542960,3,Four Rooms (1995),1995-01-01,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,...,85711,Like,18-25,1997-11-03 07:42:40,11,Monday,1995.0,1.0,Sunday,1037.0
3,1,4,3,876893119,4,Get Shorty (1995),1995-01-01,http://us.imdb.com/M/title-exact?Get%20Shorty%...,1,0,...,85711,Dislike,18-25,1997-10-15 05:25:19,10,Wednesday,1995.0,1.0,Sunday,1018.0
4,1,5,3,889751712,5,Copycat (1995),1995-01-01,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,...,85711,Dislike,18-25,1998-03-13 01:15:12,3,Friday,1995.0,1.0,Sunday,1167.0